body {
    background-color: #093445;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
   
}


.btn {

    color: white;
}
.btn:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}

.btn-active {
   background-color: white;
   color: #093445;
}

.project-img {
    width: 60%;
    height: 20%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
.project-img:hover {
    transform: scale(1.05);
}
.project-card {
    background: transparent;
    padding: 10px;
    border-radius: 10px;
}




.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 3%;
}
.navbar-center {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
}
.navbar-brand {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
}
.navbar-brand img {
    display: block;
    height: 80px; 
    max-height: 80px; 
    width: auto; 
    
}
.navbar-center a {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}


.lightbox-container {
    max-width: 400px;
    margin: auto;
  }
  .carousel-item {
    aspect-ratio: 1 / 1;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .carousel-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .carousel-inner .item { transition: all 0.5s ease !important; }