body {
    background: radial-gradient(
        circle at bottom center,
        #5f93b8 0%,
        #093445 30%,
        #093445 100%
      );
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  background-color: #093445;

    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: tektur;
   
}


.btn {

    color: white;
}
.btn:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}

.btn-active {
   background-color: white;
   color: #093445;
}

.project-img {
    width: 60%;
    height: 20%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
.project-img:hover {
    transform: scale(1.05);
}
.project-card {
    background: transparent;
    padding: 10px;
    border-radius: 10px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar-center {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    margin-top: 8%;
}
.navbar-brand {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    margin-top: 8%;
    
}
.navbar-brand img {
    display: block;
    height: 80px; 
    max-height: 80px; 
    width: auto; 
    
}
.navbar-center a {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}


.lightbox-container {
    max-width: 400px;
    margin: auto;
  }
 

 /* RESPONSIVITY */




  @media (max-width: 450px) {
    .intro {
      margin-bottom: -35%; 
      margin-top: -25%;
    }
    .introp {
        margin-top: -10%;
      }
  
}
   
  

   /* ONLINECODE */

  @keyframes upAndDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0); 
    }
  }

  .animated-text {
    display: inline-block;
    font-size: 2rem;
    animation: upAndDown 5s ease-in-out infinite; 
  }
