html, body {
    width: 100%;
    height: 100%;
}

body {
  background-size: cover;
    background: radial-gradient(
        circle at bottom center,
        #5f93b8 0%,
        #093445 30%,
        #093445 100%
        
      );

 
  
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: tektur;
   
}

figcaption{
margin-right: 20%;
color: gray;
opacity: 30%;
font-size: 0.5rem;



}




.pdf {
    width: 100%; height: 300px; all: set; 
}
.btn {

    color: white;
}
.btn:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}

.btn-active {
   background-color: white;
   color: #093445;
}

.project-img {
    width: 50%;
    height: 20%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
.project-img:hover {
    transform: scale(1.05);
}
.project-card {
    background: transparent;
    padding: 10px;
    border-radius: 10px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar-center {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    margin-top: 8%;
}
.navbar-brand {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    margin-top: 8%;
    
}
.navbar-brand img {
    display: block;
 
    max-height: 100px; 
    width: 100%; 
    
}
.navbar-center a {     
     
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    min-width: 100px;
  
}


.lightbox-container {
    max-width: 400px;
    margin: auto;
  }

   .iframe-terrascope {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
  }

  iframe {
    width: 100%;
    height: 80%;
    border: none;
  }
 


#team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.pokemon {
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
}

.pokemon img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    background-color: #f0f0f000;
}

 /* RESPONSIVITY */
  @media (max-width: 765px) {
    body{ background: radial-gradient(
        circle at center,
        #5f93b8 5%,
        #093445 40%,
        #093445 100%
        
      );}
    .intro {
    
      margin-top: -30%;
      margin-bottom: -10%;
    }
    
     
    .introf {
        height: 80%;
       
    }  
  
.push {margin-top: 15%;}
.pull {margin-top: -15%;}
.pushhard {margin-top: 50%;}
.pullhard {margin-top: -50%;}



.project-img {
  width: 75%;
  height: 20%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.animatedt {
  font-size: 0.5rem; 
}


}
   



   /* ONLINECODE */

  @keyframes upAndDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0); 
    }
  }
  .animatedt{
    font-size: 1.5rem;
  }
  .animated-text {
    display: inline-block;
    
    animation: upAndDown 5s ease-in-out infinite; 
  }
